*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  margin: 0;
}

/* ---------------------------- STATIC COMPONENTS ---------------------------- */

.header {
  background-color: rgb(135, 196, 231) !important;
  display: flex;
  flex-direction: column;
}

.mainContainer {
  display: flex;
  width: 100%;
  min-height: 100%;
}

/* ---------------------------- IN MAIN CONTAINER---------------------------- */

.navigation {
  text-align: center;
  display: flex;
  width: 100px;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding: 20px;
}

/* ---------------------------- APP COMPONENTS ---------------------------- */

.contractContainer {
  width: 100%;
  display: flex;
}

.ogContainer {
  width: 44%;
  margin: 10px;
  padding: 10px;
}

.ogContainer ul {
  padding-right: 10px;
}

.centerPiece {
  width: 22%;
  margin: 10px;
  text-align: center;
}

.optContainer {
  width: 44%;
  margin: 10px;
  padding: 10px;
	border: 1.5px solid lightcoral;
	max-height: 720px;
	overflow-y: scroll;
}

/* ---------------------------- CODE CONTAINER ---------------------------- */

.codeWrapper {
  width: 100%;
  align-content: center !important;
  padding: 10px;

}

.lineContainer {
  width: 100%;
  color: white;
  display: inline-flex;
  text-align: left;
  background-color: rgba(16, 13, 20, 0.952);
}

.lineNum {
  width: 50px;
  height: 100%;
  color: rgb(100, 98, 98);
  padding-right: 5px;
  padding-top: 5px;
  text-align: right;
  border-right: 1px solid white;
  background-color: darkgray;
}

.code {
  width: 100%;
  text-align: left;
  padding: 5px 20px 0 20px;
}

/* ---------------------------- CONTRACT CONTAINER ---------------------------- */


.cardName {
  padding: 10px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}

.txCost {
  padding-right: 10px;
  text-align: right;
  font-family: 'Fira Mono', monospace;
}

/* ---------------------------- GASBOX ---------------------------- */

.gasBox {
  width: 100%;
  margin-top: 40%;
  padding: 10px;
  text-align: center;
}

/* ---------------------------- CENTERPANE ---------------------------- */

#changeOne {
  margin-top: 55%;
  margin-bottom: 16%;
}